@font-face {
    font-family: "Almoni";
    src: url("../fonts/almoni-tzar-regular-aaa.woff2") format("woff2");
}
@font-face {
    font-family: "Almoni-light";
    src: url("../fonts/almoni-tzar-light-aaa.woff2") format("woff2");
}
@font-face {
    font-family: "Almoni-bold";
    src: url("../fonts/almoni-tzar-demibold-aaa.woff2") format("woff2");
}